:root{
    --body-font: "Poppins", sans-serif;
    --color-white: #FFFFFF;

}

body{
    font-family: var(--body-font);
    color: #434455;
    background-color: var(--color-white);
    width: 1440px;
    margin: auto;
}

h1{
    color:  var(--color-white);
}

button {
    position: relative;
}
.logo{
    font-family: "Raleway", sans-serif, 800 ;
    color:red;
}
.main-slider{
    background-color: #2E2F42;
    height: 600px;
}